@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime js
<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 400px; overflow-y: scroll">
    <div id="dvPrint">
        <div class=WordSection1>
            <p class=MsoNormal>
                <span lang=RU style='font-size:12.0pt;font-family: "Times New Roman","serif"'>ИНН  @element.Complaint.Inn </span>
            </p>
            <p class=MsoNormal>
                <span lang=RU style='font-size:12.0pt;font-family: "Times New Roman","serif"'>
                    Ф.И.О: @Fio
                </span>
            </p>
            <p class=MsoNormal>
                <span lang=RU style='font-size:12.0pt;font-family: "Times New Roman","serif"'>
                    Дата рождения  : @date_of_birth?.ToString("dd.MM.yyyy")
                    Пол : @pol
                </span>
            </p>
            <p class=MsoNormal>
                <span lang=RU style='font-size:12.0pt;font-family: "Times New Roman","serif"'>Текст: @element.Complaint.TextComplaint
                </span>
            </p>
        </div>
    </div>
        
 </MudContainer>
 @code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    MudForm form;


    public MedCardSearch searchModel = new MedCardSearch();
    private Patient patient { get; set; } = new();
    public string Fio = "";
    public string pol = "";
    public DateTime? date_of_birth = DateTime.Today;

    public string address = "";
    [Parameter] public ComplaintDto AddEditModel { get; set; }
    [Parameter] public long WritingOutId { get; set; }
    public ComplaintDto element { get; set; }

    private IEnumerable<District> Elements = new List<District>();
    private IEnumerable<Region> RegionList = new List<Region>();
    private bool IsOnlyCenter = true;
    private bool IsDisabled = true;
    private bool IsValid;

    protected override async Task OnInitializedAsync()
    {
        await LoadDetailAsync();
        await SearchAsync();
        StateHasChanged();
    }
    private async Task SearchAsync()
    {

        if (element.Patient != null)
        {
            patient = element.Patient;
            await LoadDistrictsAsync();
            await LoadDistDefaultRegionsAsync();
            DateTime datetimenow = DateTime.Now;            
            Fio = element.Patient.LastName + " " + element.Patient.FirstName + " " + element.Patient!.MiddleName;
            pol = element.Patient!.Gender ? "Муж" : "Жен";
            if (element.Patient != null)
            {
                date_of_birth = (DateTime)element.Patient.BirthDate;
            };
            var dis = "";
            var reg = "";
            foreach (var item in Elements)
            {
                if (item.Id == patient.DistrictId)
                {
                    dis = item.Title;
                }
            };
            foreach (var item in RegionList)
            {
                if (item.Id == patient.RegionId)
                {
                    reg = item.Title;
                }
            };            
            address = dis + " " + reg + " " + patient.Address;           
        }
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }
    public async Task LoadDetailAsync()
    {
        element = AddEditModel;
    }

 
    private async Task LoadDistrictsAsync()
    {
        var response = await Http.GetAsync("api/region/alldistricts");
        var mappedData = await response.ToResult<List<District>>();
        Elements = mappedData.Data;
    }
    private async Task LoadDistDefaultRegionsAsync()
    {
        if(patient.DistrictId!=null){
            var response = await Http.GetAsync("api/region/alldistregions?Id=" + patient.DistrictId);
        var mappedData = await response.ToResult<List<Region>>();
        RegionList = mappedData.Data;
        }
        

    }
    
}
