@page "/gridmedcards"

@using DevExpress.Blazor
@using DevExpress.Data.Filtering
@using DevExpress.Export
@using System.Net.Http.Json
@inject HttpClient Http

&nbsp;&nbsp;&nbsp;&nbsp;
<DxButton Text="Выберите столбцы"
          RenderStyle="ButtonRenderStyle.Primary"
          CssClass="column-chooser-button"
          Click="OnClickColumns" />
&nbsp;&nbsp;
<DxButton Text="Скачать"
          RenderStyle="ButtonRenderStyle.Primary"
          CssClass="column-chooser-button"
          Click="@(async() => await ExportXlsx_Click())" />

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <DxGrid @ref="Grid"
            Data="@Data"
            ShowGroupPanel="true"
            ShowFilterRow="true"
            PageSizeSelectorVisible="true"
            PageSizeSelectorAllRowsItemVisible="true"
            PageSizeSelectorItems="@(new int[] { 50,100,500 })"
            CustomizeCellDisplayText="Grid_CustomizeCellDisplayText">
        <Columns>
            <DxGridDataColumn FieldName="MedCard.Id" Caption="Код" Width="120px" />
            <DxGridDataColumn FieldName="MedCenter.Title" Caption="Наименование организации здравоохранения (частный медцентр, гос.больница" Width="150px" AllowGroup="true" AllowSort="false">                
            </DxGridDataColumn>           
            <DxGridDataColumn FieldName="Patient.LastName" Caption="Ф.И.О." Width="120px" MinWidth="100"  AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.PassportNum" Caption="Номер паспорта" MinWidth="120" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Inn" Caption="ПИН" Width="150px" AllowGroup="false" TextAlignment="GridTextAlignment.Left">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Patient.Gender" Caption="Пол" MinWidth="60" AllowGroup="false">
                <CellDisplayTemplate>
                    @if ((bool)context.Value == true)
                    {
                        <span>Муж</span>
                    }
                    else
                    {
                        <span>Жен</span>
                    }
                </CellDisplayTemplate>
                <FilterRowCellTemplate>
                    <DxComboBox Value="(bool?)context.FilterRowValue"
                                ValueChanged="(bool? v) => context.FilterRowValue = v"
                                Data="GenderStates" ValueFieldName="Value" TextFieldName="DisplayText"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </FilterRowCellTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Patient.BirthDate" Caption="Дата рождения" Width="100px" TextAlignment="GridTextAlignment.Left">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Patient.Phone" Caption="Контакты" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Patient.DistrictId" Caption="Область/район,село или город проживания" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.ReceiptDate" Caption="Дата поступления, время " Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.DirectionDate" Caption="Дата выписки, время" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.MainDiagnosisCode" Caption="Основной диагноз (код по МКБ-10)" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.MainDiagnosis" Caption="Название основного диагноза" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Complication1" Caption="Осложнения основного заболевания - 1" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Complication2" Caption="Осложнения основного заболевания - 2" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Complication3" Caption="Осложнения основного заболевания - 3" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Diagnosis1" Caption="Сопутствующий Диагноз 1" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Diagnosis2" Caption="Сопутствующий Диагноз 2" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Diagnosis3" Caption="Сопутствующий Диагноз 3" Width="100px" MinWidth="100" AllowGroup="false">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.OtherAB" Caption="Вид сосудистого доступа (а-в фистула, протез, катетер)" Width="100px" MinWidth="100">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.OutTreatment" Caption="Исход лечения (выписан, переведен в др.стационар, трансплан-тация почек, умер)" Width="100px" MinWidth="100">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Vgv" Caption="Результат анализа на вирусный гепатит В (статус, дата исследования)" Width="100px" MinWidth="100">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Vgs" Caption="Результат анализа на вирусный гепатит С (статус, дата исследования)" Width="100px" MinWidth="100">
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="MedCard.Vich" Caption="Результат анализа на ВИЧ/СПИД  (статус, дата исследования)" Width="100px" MinWidth="100">
            </DxGridDataColumn>
        </Columns>
        <TotalSummary>
            <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
        </TotalSummary>
        <GroupSummary>
            <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
        </GroupSummary>
    </DxGrid>

</MudContainer>

@code {
    IGrid Grid;
    private List<MedCardListDto> Data { get; set; }

    private List<District> Districts { get; set; }
    private List<Region> Regions { get; set; }

    static readonly IReadOnlyList<GenderState> GenderStates = new GenderState[] {
        new(true, "Муж"),
        new(false, "Жен")
    };

    private List<PatientGroup> PatientGroupList { get; set; }

    DataGridFilterMode _filterMode = DataGridFilterMode.Simple;
    DataGridFilterCaseSensitivity _caseSensitivity = DataGridFilterCaseSensitivity.Default;

    void Grid_CustomizeCellDisplayText(GridCustomizeCellDisplayTextEventArgs e)
    {

        if (e.FieldName == "Patient.DistrictId")
        {
            var patient = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.Patient).FirstOrDefault();
            if ((long)e.Value!=0){
                e.DisplayText = Districts.Where(p => p.Id == (long)e.Value).FirstOrDefault().Title + ", " + patient.Address + ", " + patient.Address2;
            }
            else
            {
                e.DisplayText = " ";
            }
        }
        if (e.FieldName == "Patient.LastName")
        {
            var patient = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.Patient).FirstOrDefault();
           e.DisplayText = patient?.LastName + " " + patient?.FirstName + " " + patient?.MiddleName;
        }
        if (e.FieldName == "Patient.Phone")
        {
           var patient = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.Patient).FirstOrDefault();
           e.DisplayText = patient.Phone + ", " + patient.Phone2;
                       
        }
        if (e.FieldName == "Patient.BirthDate")
        {
            e.DisplayText = (e.Value != null ? ((DateTime)e.Value).ToString("dd.MM.yyyy") : "");           
        }
        if (e.FieldName == "MedCard.ReceiptDate")
        {
            e.DisplayText = (e.Value != null ? ((DateTime)e.Value).ToString("dd.MM.yyyy") : "");           
        }
        if (e.FieldName == "MedCard.DirectionDate")
        {
            e.DisplayText = (e.Value != null ? ((DateTime)e.Value).ToString("dd.MM.yyyy") : "");
        }
        if (e.FieldName == "MedCard.Vgv")
        {
            var med = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.MedCard).FirstOrDefault();
            e.DisplayText =e.Value + ", "+  (med.VgvDate != null ? ((DateTime)med.VgvDate).ToString("dd.MM.yyyy") : "");
        }
        if (e.FieldName == "MedCard.Vgs")
        {
            var med = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.MedCard).FirstOrDefault();
            e.DisplayText = e.Value + ", " + (med.VgsDate != null ? ((DateTime)med.VgsDate).ToString("dd.MM.yyyy") : "");
        }
        if (e.FieldName == "MedCard.Vich")
        {
            var med = Data.Where(p => p.MedCard.Id.Equals(e.GetRowValue("MedCard.Id"))).Select(p => p.MedCard).FirstOrDefault();
            e.DisplayText = e.Value + ", " + (med.VichDate != null ? ((DateTime)med.VichDate).ToString("dd.MM.yyyy") : "");
        }
            
    }


    void OnClickColumns()
    {
        Grid.ShowColumnChooser(".column-chooser-button");
    }


    async Task ExportXlsx_Click()
    {
        await Grid.ExportToXlsxAsync("Сводный_по данным_мед_картам", new GridXlExportOptions()
            {
                ExportSelectedRowsOnly = false
            });
    }


    protected override async Task OnInitializedAsync()
    {
        await LoadDistAndRegionsAsync();
        //await LoadGroupDataAsync();
        await LoadDataAsync();
    }



    private async Task LoadDistAndRegionsAsync()
    {
        Districts = await _commonService.LoadDistrictsAsync();
        Regions = await _commonService.LoadAllRegionsAsync();
    }
    private async Task LoadDataAsync()
    {

        var response = await Http.GetAsync("api/medcard/allmedcards");
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<List<MedCardListDto>>();

        Data = mappedData.Data;

    }

    private async Task LoadGroupDataAsync()
    {
        var response = await Http.GetAsync("api/status/allgroups");
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<List<PatientGroup>>();
        PatientGroupList = mappedData.Data;
    }

    private int CalcAge(DateTime BirthDate)
    {
        var retAge = 0;
        try
        {
            DateTime TodayDate = DateTime.Now;
            retAge = (int)(((TodayDate - BirthDate).TotalDays) / 365);
        }
        catch (Exception ex)
        {

        }

        return retAge;
    }


    record GenderState(bool? Value, string DisplayText);
    record AgeInterval(CriteriaOperator Criteria, string DisplayText)
    {
        public AgeInterval(string CriteriaText, string DisplayText)
            : this(CriteriaOperator.Parse(CriteriaText), DisplayText)
        {
        }
    }
    record IdTitle(long Id, string Title);

}
