@page "/pbymcenters"
@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@attribute [Authorize]
	

    <MudText Typo="Typo.h6">Список пациентов по ЛПУ	</MudText>

<EditForm Model="@searchModel">
    <MudGrid>   
        <MudItem xs="12" md="4">
            <MudDatePicker Label="Дата от" @bind-Date="dateFrom" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudDatePicker Label="Дата до" @bind-Date="dateTo" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
        </MudItem>
            
        <MudItem xs="12" md="4">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchAsync" StartIcon="@Icons.Material.Filled.Search" Size="Size.Small">Фильтр</MudButton>
        </MudItem>  
        <MudItem xs="12" md="12">
            &nbsp;
        </MudItem>
    </MudGrid>
</EditForm>
<MudContainer MaxWidth="MaxWidth.Large">
    <div id="wdr-component">
        
    </div>
</MudContainer>
@code {
    private DateTime? dateFrom = null;
    private DateTime? dateTo = null;
    public MedCardSearch searchModel = new MedCardSearch();

     
    protected override async Task OnInitializedAsync()
    {
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        //{
            IJSObjectReference module;
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import","/jsreport/patients.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "~/jsreport/patients.js");
        //}
    }

    
    private async Task SearchAsync()
    {
        string fullUrl = "api/report/patientbymcenter";
        if (dateFrom != null && dateTo != null)
        {
            fullUrl = "api/report/patientbymcenter?fromDate=" + dateFrom + "&toDate=" + dateTo;
        }else if (dateFrom != null && dateTo == null)
        {
            fullUrl = "api/report/patientbymcenter?fromDate=" + dateFrom;
        }else if (dateFrom == null && dateTo != null)
        {
            fullUrl = "api/report/patientbymcenter?toDate=" + dateTo;
        }
        await JSRuntime.InvokeVoidAsync("LoadPatientsByMCenter", fullUrl);   
        //await JSRuntime.InvokeVoidAsync("LoadPatientsByMCenter");
        /*var response = await Http.GetAsync("api/report/patientbymcenter?fromDate=" + dateFrom + "&toDate="+dateTo);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }*/
       
    }
    

}
