@using System.Net.Http.Json
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="max-height: 400px; overflow-y: scroll">
 <div id="dvPrint">
        <MudGrid>
            <MudItem xs="6" md="10">
            </MudItem>
             <MudItem xs="6" md="2">
                   <MudButton Variant="Variant.Filled"
                   @onclick="@(async() => await PrintAsync())" StartIcon="@Icons.Material.Filled.Print"
                   Size="Size.Small" Color="Color.Info">
            Печать
        </MudButton>
            </MudItem>
      

        <MudItem xs="6" md="3" Class="fb600">
        Пациент
    </MudItem>
<MudItem xs="6" md="3">
    @element?.Patient.Inn <br />
    @element?.Patient.LastName   @element?.Patient.FirstName
</MudItem>

<MudItem xs="12" md="6">

    @{
        if(!String.IsNullOrEmpty(element.HDSession?.ImageStart))
        {
            var imgDetail ="UploadImages/" +  element.HDSession?.ImageStart;
            <MudImage Src="@imgDetail" Alt="" Elevation="25" Class="rounded-lg"/>
        }
    }
    
    </MudItem>

<MudItem xs="6" md="3" Class="fb600">
        Мед. центр
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.MedCenter.Title
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Апарат
    </MudItem>
<MudItem xs="6" md="3">
            @element?.MedCenterMachine?.Number @element?.MedCenterMachine?.Name  @element?.MedCenterMachine?.Model
</MudItem>


    <MudItem xs="6" md="3" Class="fb600">
        Состояние пациента на момент под. к АИП
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Condition
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Жалобы на момент осмотра
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Complaints
    </MudItem>

     <MudItem xs="6" md="3" Class="fb600">
        Программа сеанса
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Program
    </MudItem>

     <MudItem xs="6" md="3" Class="fb600">
        Диализатор промыт и зап. рествором
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Dialyzer
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Коррекция электролитов по Na
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Correction
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Реинфузия NaCI
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Reinfusion
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Доступ
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Access
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Антикоагуляция
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Anticoagulation
    </MudItem>

    <MudItem xs="6" md="3" Class="fb600">
        Обьем УФ
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Uf
    </MudItem>
     <MudItem xs="6" md="3" Class="fb600">
        Скорость потока крови
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Speed
    </MudItem>
     <MudItem xs="6" md="3" Class="fb600">
        Длителность
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.Durators
    </MudItem>
     <MudItem xs="6" md="3" Class="fb600">
        Тип диализатора
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.TypeDialyzer
    </MudItem>
     <MudItem xs="6" md="3" Class="fb600">
        Вес пациента"
    </MudItem>
    <MudItem xs="6" md="3">
        @element?.HDSession?.StartWeight
    </MudItem>
<MudItem xs="12" md="12">
        &nbsp;&nbsp;
    </MudItem>
    <MudItem xs="4" md="4">
        &nbsp;
    </MudItem>
    <MudItem xs="2" md="2" Class="fb600">
        SYS
    </MudItem>
    <MudItem xs="2" md="2" Class="fb600">
        DIA
    </MudItem>
    <MudItem xs="2" md="2" Class="fb600">
        Частота
    </MudItem>
    <MudItem xs="2" md="2" Class="fb600">
        Температура
    </MudItem>

    <MudItem xs="4" md="4" Class="fb600">
        Начало
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.Sys
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.Dia
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.Ritm
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.Temp
    </MudItem>
  @if (element?.HDSessionHours != null)
  {
      foreach (var item in element?.HDSessionHours)
      {

          <MudItem xs="4" md="4">
              @item?.Hour -й час
          </MudItem>
          <MudItem xs="2" md="2">
              @item?.Sys
          </MudItem>
          <MudItem xs="2" md="2">
              @item?.Dia
          </MudItem>
          <MudItem xs="2" md="2">
              @item?.Ritm
          </MudItem>
          <MudItem xs="2" md="2">
              @item?.Temp
          </MudItem>
      }
  }

    <MudItem xs="4" md="4" Class="fb600">
        Конец
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.EndSys
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.EndDia
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.EndRitm
    </MudItem>
    <MudItem xs="2" md="2">
        @element?.HDSession?.EndTemp
    </MudItem>

    <MudItem xs="12" md="12" Class="fb600">
        Пауза
    </MudItem>
   
    @if(element?.HDSessionPauses!=null){
        
        foreach (var pause in element.HDSessionPauses)
        {
            <MudItem xs="6" md="6">
                @pause?.Note
            </MudItem>
            <MudItem xs="3" md="3">
                @pause?.PauseStart?.ToString("dd.MM.yyyy HH:mm")
            </MudItem>
            <MudItem xs="3" md="3">
                @pause?.PauseEnd?.ToString("dd.MM.yyyy HH:mm")
            </MudItem>         
        }
    }
 <MudItem xs="12" md="12">
            &nbsp;
        </MudItem>
        <MudItem xs="12" md="12">
            @element?.HDSession?.Note2
        </MudItem>
        <MudItem xs="12" md="12">
            &nbsp;
        </MudItem>

</MudGrid>

</div>
</MudContainer>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public long HDSessionId { get; set; }
    public HDSessionDto element { get; set; }

     protected override async Task OnInitializedAsync()
    {
        if (HDSessionId > 0)
        {
            
            await LoadDetailAsync();
        }
    }

    public async Task LoadDetailAsync()
    {
        var response = await Http.GetAsync("api/medcard/sessiondetail?sessionId=" + HDSessionId);
        if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            await _authenticationManager.Logout();
            _navigationManager.NavigateTo("/login");
        }
        var mappedData = await response.ToResult<HDSessionDto>();
        element = mappedData.Data;       
    }

    public async Task PrintAsync()
    {
        await JSRuntime.InvokeVoidAsync("printDiv");
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }

    
}

