<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Error"
    internalLogFile="internallog.txt">
<extensions>
  <add assembly="NLog.Web.AspNetCore"/>
  <add assembly="NLog.Database" />
</extensions>
<targets>
   <target name="database" xsi:type="Database"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="User Id=postgres;Password=postQwerty321!;Host=195.38.186.3;Port=5432;Database=postgres;Pooling=true;">
    <commandText>
              insert into logs (
              Application, Logged, Level, Message,
              Logger, CallSite, Exception
              ) values (
              @Application, @Logged, @Level, @Message,
              @Logger, @Callsite, @Exception
              );
          </commandText>
 
          <parameter name="@application" layout="AspNetCoreNlog" />
          <parameter name="@logged" layout="${date}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@message" layout="${message}" /> 
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@callSite" layout="${callsite:filename=true}" />
          <parameter name="@exception" layout="${exception:tostring}" />
  </target>
</targets>
<rules>
  <logger name="*"  minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
</rules>
</nlog>