@using System.Net.Http.Json
@inject HttpClient Http
<style>
    .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
        padding: 5px 10px;
    }

    label {
        display: inline;
    }
</style>
<MudContainer MaxWidth="MaxWidth.Large" Style="max-height: 500px; overflow-y: scroll">
    <EditForm Model="@AddEditModel" OnValidSubmit="SaveAsync">
         <MudDialog>
        <TitleContent>
           
                    <MudText Typo="Typo.h6">
                        <MudIcon Icon="@Icons.Material.Filled.Add" Class="mr-3 mb-n1" />
                        Добавить
                    </MudText>
               
        </TitleContent>
        <DialogContent>
        <MudGrid>
            <MudItem xs="12" md="12">
                <div>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman"'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-size:
13.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'>
                                        <span style='mso-spacerun:yes'>        </span>Акт медицинской
                                        экспертизы проведенных <span style='mso-spacerun:yes'>  </span>сеансов диализа
                                    </span>
                                </b><b style='mso-bidi-font-weight:normal'>
                                    <span lang=KY style='font-size:13.5pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black;mso-ansi-language:KY'>
                                        без выявленных дефектов<span style='mso-spacerun:yes'>   </span>
                                    </span>
                                </b><b style='mso-bidi-font-weight:
normal'>
                                    <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>форма №11-1 ОМС/у<o:p></o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-size:
13.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>
                                    Дата составления акта : <MudDatePicker Label="" @bind-Date="date" DateFormat="dd.MM.yyyy" DisableToolbar="true" />.<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'><o:p>&nbsp;</o:p></span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>
                                    ТУ ФОМС
                                    <MudTextField @bind-Value="AddEditModel.QualityExam2.TuFoms" Label="" Lines="1" Variant="Variant.Outlined" /><o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'><o:p>&nbsp;</o:p></span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span lang=KY style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:KY'>
                                    Организация
                                    здравоохранения <MudTextField @bind-Value="AddEditModel.QualityExam2.Organisation" Label="" Lines="1" Variant="Variant.Outlined" />
                                </span><span style='font-size:13.5pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'>_<o:p></o:p></span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:13.5pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'><o:p>&nbsp;</o:p></span>
                            </p>

                            <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=652
                                   style='width:488.8pt;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:
 .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
                                <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                    <td width=47 valign=top style='width:35.2pt;border:solid windowtext 1.0pt;
  mso-border-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
  justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
  tab-stops:1.0cm'>
                                            <b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY
                                                      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black;mso-ansi-language:KY'>№<o:p></o:p></span>
                                            </b>
                                        </p>
                                    </td>
                                    <td width=202 valign=top style='width:151.7pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
  tab-stops:1.0cm'>
                                            <b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY
                                                      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black;mso-ansi-language:KY'>ПИН<o:p></o:p></span>
                                            </b>
                                        </p>
                                    </td>
                                    <td width=125 valign=top style='width:93.45pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
  justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
  tab-stops:1.0cm'>
                                            <b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY
                                                      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black;mso-ansi-language:KY'>№ мед.карты<o:p></o:p></span>
                                            </b>
                                        </p>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
  text-align:center;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
  tab-stops:1.0cm'>
                                            <b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY
                                                      style='font-size:12.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
  "Times New Roman";color:black;mso-ansi-language:KY'><o:p>&nbsp;</o:p></span>
                                            </b>
                                        </p>
                                    </td>
                                    <td width=278 colspan=2 valign=top style='width:208.45pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
  normal;mso-pagination:widow-orphan no-line-numbers;tab-stops:1.0cm'>
                                            <b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY style='font-size:12.0pt;
  font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  color:black;mso-ansi-language:KY'>протокол сеанса диализа</span>
                                            </b><b style='mso-bidi-font-weight:normal'>
                                                <span style='font-size:12.0pt;font-family:
  "Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  color:black'> №</span>
                                            </b><b style='mso-bidi-font-weight:normal'>
                                                <span lang=KY style='font-size:12.0pt;font-family:"Times New Roman","serif";
  mso-fareast-font-family:"Times New Roman";color:black;mso-ansi-language:KY'>
                                                    ,
                                                    дата, время<o:p></o:p>
                                                </span>
                                            </b>
                                        </p>
                                    </td>
                                </tr>

                          
                                @foreach (var item in dynList)
                                {
                                    <tr style='mso-yfti-irow:1'>
                                        <td width=47 >
                                         
                                        </td>
                                        <td width=202 >
                                            <MudTextField @bind-Value="item.PatientPin" Label="" Lines="1" Variant="Variant.Outlined" />
                                        </td>
                                        <td width=125 >
                                            <MudTextField @bind-Value="item.MedCardNo" Label="" Lines="1" Variant="Variant.Outlined" />
                                        </td>
                                        <td width=125 >
                                            <MudTextField @bind-Value="item.PatientPin" Label="" Lines="1" Variant="Variant.Outlined" />
                                        </td>
                                        <td width=153>
                                            <MudDatePicker Label="" @bind-Date="date" DateFormat="dd.MM.yyyy" DisableToolbar="true" />
                                        </td>
                                    </tr>

                                }
                               
                            </table>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span lang=KY
                                          style='font-size:13.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:KY'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span lang=KY
                                          style='font-size:13.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Times New Roman";color:black;mso-ansi-language:KY'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <b style='mso-bidi-font-weight:normal'>
                                    <span style='font-size:
13.5pt;font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
color:black'><o:p>&nbsp;</o:p></span>
                                </b>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:12.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>
                                    Специалист ТУ ФОМС<b style='mso-bidi-font-weight:normal'>
                                        <span style='mso-spacerun:yes'>
                                        </span>___________<span style='mso-spacerun:yes'>
                                        </span>______________________<span style='mso-spacerun:yes'>     </span><o:p></o:p>
                                    </b>
                                </span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:150%;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:12.0pt;line-height:150%;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";color:black'>
                                    <span style='mso-spacerun:yes'>
                                    </span>
                                </span><span style='font-size:11.0pt;line-height:150%;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>
                                    подпись<span style='mso-tab-count:3'>                                </span><span style='mso-spacerun:yes'>      </span>Ф.И.О.<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:150%;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:11.0pt;line-height:150%;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";color:black'><o:p>&nbsp;</o:p></span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:150%;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:12.0pt;line-height:150%;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";color:black'>
                                    Заведующий
                                    <span class=GramE>отделением <span style='mso-spacerun:yes'> </span>ГД</span><span style='mso-spacerun:yes'>   </span>___________<span style='mso-spacerun:yes'>           </span>______________________<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:150%;mso-pagination:widow-orphan no-line-numbers;
tab-stops:1.0cm'>
                                <span style='font-size:12.0pt;line-height:150%;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";color:black'>
                                    <span style='mso-tab-count:2'>            </span><span style='mso-spacerun:yes'>           </span><span style='mso-spacerun:yes'>                            </span>
                                </span><span style='font-size:11.0pt;line-height:150%;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";color:black'>
                                    подпись<span style='mso-spacerun:yes'>                                 </span><span style='mso-spacerun:yes'>    </span>Ф.И.О.<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNoSpacing style='text-align:justify;text-indent:1.0cm'>
                                <span style='font-size:14.0pt;font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span>
                            </p>

                            <p class=MsoNoSpacing>
                                <span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
                                    Руководитель
                                    ОЗ<span style='mso-spacerun:yes'>                       </span>___________<span style='mso-spacerun:yes'>           </span>______________________<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNoSpacing>
                                <span style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
                                    <span style='mso-tab-count:2'>                        </span><span style='mso-spacerun:yes'>        </span><span style='mso-spacerun:yes'>               </span><span style='mso-spacerun:yes'>        </span>
                                </span><span style='font-size:11.0pt;
font-family:"Times New Roman","serif"'>
                                    подпись<span style='mso-spacerun:yes'>                                 </span><span style='mso-spacerun:yes'>  </span>Ф.И.О.<o:p></o:p>
                                </span>
                            </p>

                            <p class=MsoNoSpacing style='text-align:justify;text-indent:1.0cm'>
                                <span style='font-size:14.0pt;font-family:"Times New Roman","serif"'><o:p>&nbsp;</o:p></span>
                            </p>


                </div>
            </MudItem>
        </MudGrid>
        </DialogContent>
        <DialogActions>
            <MudButton DisableElevation Variant="Variant.Filled" OnClick="Cancel">Отмена</MudButton>
            <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Success">Сохранить</MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>
</MudContainer>

 @code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    MudForm form;
    public Exam2Dto AddEditModel { get; set; } = new();
    public QualityExam2 Exam2 = new QualityExam2();
    public List<QualityExam2Patient> dynList = new List<QualityExam2Patient>();

    DateTime? date = null;
    DateTime? date1 = null;
    DateTime? date2 = null;

    protected override async Task OnInitializedAsync()
    {
        
        for(var i=0; i < 10; i++)
        {
            dynList.Add(new QualityExam2Patient() { });
        }
        AddEditModel.QualityExam2 = new QualityExam2();

        StateHasChanged();
    }

    public void Cancel()
    {
        MudDialog.Cancel();
    }
    private async Task SaveAsync()
    {
        // if (IsValid == true)
        // {
        //     AddEditModel.IsDeleted = false;
        //     AddEditModel.DirectionDate = date;
        //     AddEditModel.DirectionTime = time2;
        //     AddEditModel.ReceiptDate = date1;
        //     AddEditModel.ReceiptTime = time1;
        //     AddEditModel.VgvDate = date2;
        //     AddEditModel.VgsDate = date3;
        //     AddEditModel.VichDate = date4;

        //     AddEditModel.MainDiagnosisDate = DiagnosisDate1;
        //     AddEditModel.Complication1Date = DiagnosisDate2;
        //     AddEditModel.Complication2Date = DiagnosisDate3;
        //     AddEditModel.Complication3Date = DiagnosisDate4;
        //     AddEditModel.Diagnosis1Date = DiagnosisDate5;
        //     AddEditModel.Diagnosis2Date = DiagnosisDate6;
        //     AddEditModel.Diagnosis3Date = DiagnosisDate7;
        //     AddEditModel.OtherABDate = DiagnosisDate8;

        //     AddEditModel.ReceiptTime = time1;
        //     AddEditModel.DirectionTime = time2;
        //     AddEditModel.MainDiagnosisTime= time3;
        //     AddEditModel.Complication1Time= time4;
        //     AddEditModel.Complication2Time= time5;
        //     AddEditModel.Complication3Time= time6;
        //     AddEditModel.Diagnosis1Time= time7;
        //     AddEditModel.Diagnosis2Time= time8;
        //     AddEditModel.Diagnosis3Time= time9;
        //     AddEditModel.OtherABTime= time10;
        //     AddEditModel.Blood = blood;
        //     AddEditModel.Resus = resus;
        //     AddEditModel.OutTreatment = outTreatment;
        //     AddEditModel.Pedikulez = Basic_CheckBox1 ? "да" : "нет";
        //     AddEditModel.Chesotka = Basic_CheckBox2 ? "да" : "нет";
        //     AddEditModel.Vassermana = Basic_CheckBox3 ? "да" : "нет";
        //     AddEditModel.Fluorografia = Basic_CheckBox4 ? "да" : "нет";
        //     AddEditModel.Alchohol = Basic_CheckBox5 ? "да" : "нет";
        //     AddEditModel.Familiarized = Basic_CheckBox6 ? "да" : "нет";
            //await _commonService.LocalMedCard0Async(AddEditModel);
            //_navigationManager.NavigateTo("/mcardadd1");
        //if (!result.Succeeded)
        //{
         //   _snackBar.Add(result.Messages[0], Severity.Error);
         //   MudDialog.Close(DialogResult.Ok(false));
        //}
        //else
        //{
            _snackBar.Add("Успешно", Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));
        //}
           
    }
}
